:root {
  --mcolor: #ff9800;
}
body {
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

/* start setting box  */

.setting-box {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  top: 0;
  left: -200px;
  border: 1px solid #eee;
  z-index: 100000;
}
.open {
  left: 0;
}
.setting-box .icon img {
  width: 13px;
  height: 13px;
}
.setting-box .icon {
  top: 100px;
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 30px;
  right: -30px;
  padding: 7px 0;
  text-align: center;
  cursor: pointer;
}
.setting-box .optionBox {
  padding: 10px 0;
  margin: 10px;
  background-color: #eee;
  text-align: center;
}
.setting-box .optionBox h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
  padding: 5px;
}
.setting-box .optionBox .colorlist {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  text-align: center;
}
.setting-box .optionBox .colorlist li {
  width: 24px;
  display: inline-block;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  border: 3px solid #eee;
}
.setting-box .optionBox .colorlist .active {
  border-color: #fff;
}
.setting-box .optionBox .colorlist li:first-child {
  background-color: #ff9800;
}
.setting-box .optionBox .colorlist li:nth-child(2) {
  background-color: #e91e63;
}
.setting-box .optionBox .colorlist li:nth-child(3) {
  background-color: #009688;
}
.setting-box .optionBox .colorlist li:nth-child(4) {
  background-color: #03a9f4;
}
.setting-box .optionBox .colorlist li:nth-child(5) {
  background-color: #4caf50;
}
.setting-box .optionBox .yes,
.setting-box .optionBox .no {
  width: 50px;
  margin-top: 10px;
  background-color: var(--mcolor);
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  color: #fff;
  border-radius: 4px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
}
.setting-box .optionBox span.active {
  opacity: 1;
}

.reset {
  background-color: #f44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* end setting box    */

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

/* star nav Bullets  */

.navBullts {
  position: fixed;
  width: 40px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.navBullts .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--mcolor);
  border-radius: 50%;
  margin: 20px auto;
  cursor: pointer;
  position: relative;
}
.navBullts .bullet .tooltip {
  background-color: var(--mcolor);
  color: #fff;
  width: 100px;
  text-align: center;
  top: -10px;
  right: 32px;
  padding: 5px 8px;
  position: absolute;
  pointer-events: none;
  display: none;
  border-radius: 4px;
  z-index: 10000;
}
.navBullts .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 11px;
  border-color: transparent transparent transparent var(--mcolor);
  width: 0;
  height: 0;
  border-radius: 0;
  position: absolute;
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
}

.navBullts .bullet:hover .tooltip {
  display: block;
}

/* end nav Bullets  */

/* start landing  */
.landing-page {
  min-height: 100vh;
  background-image: url(../imgs/05.jpg);
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing-page .container {
  position: relative;
  z-index: 999;
}
.landing-page .header {
  display: flex;
  z-index: 2;
  position: relative;
  padding: 10px;
  color: #fff;
}
.landing-page .header .logo {
  width: 300px;
  font-weight: bold;
  padding: 15px;
}
.linksContainer {
  width: 100%;
  text-align: right;
}
.landing-page .header .links {
  list-style: none;
  padding-left: 0;
}
.landing-page .header .links li {
  display: inline-block;
  margin-left: 10px;
}
.landing-page .header .links li a {
  text-decoration: none;
  transition: 0.3s;
  color: #fff;
}
.landing-page .header .links li a:hover,
.landing-page .header .links li a.activ {
  color: var(--mcolor);
}

.landing-page .header .toggle {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.landing-page .header .toggle.active:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.landing-page .header .toggle:focus {
  outline: none;
}
.landing-page .header .toggle span {
  display: block;
  background-color: #fff;
  height: 4px;
  margin-bottom: 4px;
}
.landing-page .text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 2;
}
.landing-page .text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .landing-page .text h1 {
    font-size: 26px;
  }
}
.landing-page .text h1 span {
  color: var(--mcolor);
}
.landing-page .text p {
  line-height: 1.6;
  margin: 0;
  font-size: 20px;
}
@media (max-width: 991px) {
  .header .linksContainer .links {
    display: none;
  }
  .header .linksContainer .links.open {
    background-color: #fff;
    padding: 2px;
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }
  .header .linksContainer .links.open li {
    display: block;
    margin: 5px;
    padding: 10px;
    background-color: #eee;
  }
  .header .linksContainer .links.open li a {
    color: var(--mcolor);
    font-weight: bold;
  }
  .header .linksContainer .toggle {
    display: inline-block;
  }
}

/* end landing  */

/*start about  */
.about {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .about {
    display: block;
    text-align: center;
  }
}
.about .infoBox {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about .infoBox h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--mcolor);
  margin: 0 0 10px;
}
.about .infoBox p {
  color: #676767;
  margin: 0;
  line-height: 1.8;
}
.about .imagBox {
  flex: 1;
  text-align: center;
}
.about .imagBox img {
  width: 250px;
}

/* start about  */

/* start Skills  */

.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--mcolor);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skillBox {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
}
@media (max-width: 767px) {
  .skills .skillBox {
    display: block;
  }
}
.skills .skillBox .skillName {
  width: 145px;
  font-weight: bold;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skillBox .skillName {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .skillBox .skillProgress {
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  height: 30px;
  width: 100%;
}
.skills .skillBox .skillProgress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  transition: all 0.5;
  height: 100%;
  border-radius: 6px;
  background-color: var(--mcolor);
}
/* End Skills */

/* start Galary */
.gallary {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.gallary h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--mcolor);
  margin: 0 0 50px;
  text-align: center;
}
.gallary .imgBox {
  text-align: center;
}
.gallary .imgBox img {
  width: 200px;
  background-color: #f6f6f6;
  padding: 3px;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}
.popOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100000;
}
.popBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 100000;
}
.popBox h3 {
  font-weight: bold;
  font-size: 30px;
  color: var(--mcolor);
  margin: 0 0 10px;
  text-align: center;
}
.popBox img {
  max-width: 100%;
}
.popBox .closeBotton {
  position: absolute;
  width: 40px;
  height: 40px;
  font-weight: bold;
  top: -15px;
  right: -15px;
  background-color: var(--mcolor);
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  font-family: Arial, tahoma;
  font-size: 20px;
}
/* end Galary */

/* start timeline */

.timeline {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #eee;
}
.timeline .timelineContent {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.timeline .timelineContent::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--mcolor);
  left: 50%;
  margin-left: -1px;
  top: 0;
  position: absolute;
}
.timeline .timelineContent .year {
  width: 50px;
  margin: 20px auto;
  text-align: center;
  background-color: var(--mcolor);
  padding: 2px 5px;
  border-radius: 4px;
  position: relative;
  color: #eee;
  font-weight: bold;
  z-index: 2;
}
.timeline .timelineContent .left,
.timeline .timelineContent .right {
  width: calc(50% - 25px);
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .timeline .timelineContent .left,
  .timeline .timelineContent .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .timelineContent .left:before,
  .timeline .timelineContent .right:before {
    display: none;
  }
  .timeline .timelineContent .left .content:before,
  .timeline .timelineContent .right .content:before {
    display: none;
  }
}
.timeline .timelineContent .left {
  float: left;
}
.timeline .timelineContent .left ::before,
.timeline .timelineContent .right ::before {
  width: 14px;
  height: 14px;
  border: 3px solid var(--mcolor);
  background-color: #fff;
  top: 20px;
  right: -35px;
  content: "";
  position: absolute;
  border-radius: 50%;
}
.timeline .timelineContent .right {
  float: right;
}
.timeline .timelineContent .right ::before {
  left: -35px;
}
.timeline .timelineContent .content {
  padding: 20px;
  background-color: #fff;
}
.timeline .timelineContent .left .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: #eee #eee #eee #fff;
  width: 0;
  height: 0;
  border-radius: 0;
  position: absolute;
  right: -20px;
  top: 20px;
}
.timeline .timelineContent .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: #eee #fff #eee #eee;
  width: 0;
  height: 0;
  border-radius: 0;
  position: absolute;
  left: -20px;
  top: 20px;
}
.timeline .timelineContent .content h3 {
  font-weight: bold;
  color: var(--mcolor);
  margin: 0 0 10px;
}

.timeline .timelineContent .content p {
  color: #666;
  line-height: 1.6;
  margin: 0;
}
.clearFix {
  clear: both;
}

/* end timeline */

/* start featuer */

.featuer {
  margin-top: 80px;
  margin-bottom: 80px;
}
.featuer h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--mcolor);
  margin: 0 0 10px;
  text-align: center;
}
.featuer .featBox {
  width: calc(100% / 3);
  float: left;
  margin-bottom: 40px;
  text-align: center;
}
@media (max-width: 575px) {
  .featuer .featBox {
    width: 100%;
  }
}
.featuer .featBox img {
  width: 96px;
}
.featuer .featBox h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.featuer .featBox h4:before {
  position: absolute;
  content: "";
  width: 40px;
  background-color: var(--mcolor);
  height: 4px;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.featuer .featBox p {
  line-height: 1.7;
  color: #706f6f;
  width: 80%;
  margin: 0 auto;
}

/* end featuer */

/* start Testimonials */

.ts {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  overflow: hidden;
}
.ts::before {
  content: "";
  width: 50%;
  top: 0;
  left: 0;
  background-color: var(--mcolor);
  height: 100%;
  position: absolute;
  z-index: -5;
}
.ts::after {
  content: "";
  width: 50%;
  top: 0;
  right: 0;
  background-color: #333;
  height: 100%;
  position: absolute;
  z-index: -5;
}
.ts h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .ts h2 {
    text-align: center;
  }
}
.ts .TsBox {
  width: calc(98% / 3);
  background-color: #fff;
  float: left;
  padding: 20px;
}
@media (max-width: 767px) {
  .ts .TsBox {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
}
.ts .TsBox:not(:last-of-type) {
  margin-right: 1%;
}
.ts .TsBox > p {
  font-style: italic;
  font-size: 15px;
  margin: 0 0 20px;
  line-height: 1.5;
  color: #707077;
}
.ts .TsBox .personInfo {
  overflow: hidden;
}
@media (max-width: 991px) {
  .ts .TsBox .personInfo {
    text-align: center;
    overflow: visible;
  }
}
.ts .TsBox .personInfo img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
@media (max-width: 991px) {
  .ts .TsBox .personInfo img {
    float: none;
    margin-right: 0;
  }
}
.ts .TsBox .personInfo h4 {
  margin: 14px 0 10px;
}
.ts .TsBox .personInfo p {
  color: #707077;
  margin: 0;
}

/* end Testimonials */

/* start contact */

.contact {
  min-height: 600px;
  background-image: url("../imgs/contact.png");
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
}
.contact .overlay {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}
.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--mcolor);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  z-index: 2;
  margin: auto;
}
.contact form .left {
  float: left;
  width: 49%;
}
.contact form .right {
  float: right;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--mcolor);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  border-color: transparent;
  padding: 10px;
  width: 100%;
  background-color: var(--mcolor);
  color: white;
  cursor: pointer;
}
.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* end contact */

/* star footer */
.footer {
  background-color: #333;
  color: #eee;
  padding: 5px;
  text-align: center;
}
.footer .footer-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
.footer p {
  font-size: 16px;
  margin-top: 10px;
}
.footer p a {
  color: var(--mcolor);
  font-weight: bold;
  text-decoration: none;
}

/* end footer */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
